<table>
  <thead>
  <tr>
    <th class="p-4px-8px"></th>
    <th *ngFor="let day of daysOfTheWeek" class="p-4px-8px text-capitalized" >{{day}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let type of dashboardDataPerDayKeys"
      [ngClass]="{selected: hasRowSelected(type)}"
      class="dashboardTypeRow p-4px-8px"
      (click)="onClickPhotoshootType(type)">
    <th class="p-4px-8px text-left">{{type}}</th>
    <td *ngFor="let data of dashboardDataPerDay.get(type)" class="p-4px-8px text-center">{{data}}</td>
  </tr>

  <tr class="p-4px-16px">
    <th class="dashboardTotalCell" >Total</th>
    <td *ngFor="let tot of totalPerDay"
        class="dashboardTotalCell">{{tot}}</td>
  </tr>
  </tbody>
</table>

<app-dashboard-client
  *ngIf="showDashboardClient()"
  [data]="photoshootClientList"
(closeModalEvent)="closeModal($event)"></app-dashboard-client>
